#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

.hidden {
display:none;
}

#main-nav button {
    background: url(../images/burger.svg) center no-repeat;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: transparent;
}

#burger-con {
    display: none;
}

#burger-con.slide-toggle {
    display: block;
}

#sign-up-header {
    display: flex;
    align-items: center;
    justify-content: center;
   }

@media screen and (min-width: 768px) {
   #logo {
    order: -1;
   } 

   #button {
    display: none;
   }

   #book-now-header {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   #burger-con {
    display: block;
   }

   #book-now-hero {
    display: none;
   }
    
   #hero-main {
    height: 455px;
   }

   #booking-calendar {
    display: block;
    height: 200px;
    margin-top: 50px;
   }
}